<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title[page.lang] }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title[page.lang] }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
          <p>{{ site.description[page.lang] }}</p>
      </div>
    </div>

  </div>
  <!--
       this is the new part

       comment -->
  
  <div class="container">
      <div class="left0"; width:55px;>
          Contact:
          <br></div>
          <span id="between1">
              Benyomin Hagalili
              <br> </span>
              <span id="right1"; class="he">
                  <bdi>
                      בנימן הגלילי
                  </bdi>
              </span>
              <br>
              <div class="left"; width:55px;>
                  E - mail:
                  <br></div>
                  <span id="between">
                      PGP fingerprint - benyominhagalili@mail.ru

                      <br>
                      F313 4252 A9B7 CFCD 56F2  8CE6 EFB7 156D 6662 B1
                  </span>
                  <br>
                  <div class="left2";width:95px;>
                      OTR IM:</div>
                  <span id="between2">
                      jabber / xmpp  .- . benyominhagalili@jabber.ru

                      <br>
                      7E7933D3 071C3A66 C0C0B309 FE71B89E 63C45216
                  </span>
  </div>


  <!-- end the new part-->
</footer>
